# Visual Studio / MSBuild
.vs/
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
*.user
*.suo
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
*.ipch
ipch/
*.aps
*.pch
*.pdb
*.idb
*.ilk
*.obj
*.exe
*.dll
*.lib
*.exp

# OS
Thumbs.db
Desktop.ini
.DS_Store
